<div class="register-form">
    <h1 class="textcenter">
      Registration Form
    </h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email"  formControlName="email">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="password" name="password" formControlName="password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Register</button>
   </form>
  </div>
